{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
<h3 class="display-4" style="font-size: 30px;">Editar categoria:</h3>
<div class="card">
<div class="card-body">
    <form action="/admin/categorias/edit" method="POST">
        <input type="hidden" id="id" value="{{categoria.dataValues.id}}">
        <label for="nome">Nome</label>
        <input type="text" id="name" name="name" placeholder="Nome da categoria" class="form-control" value="{{categoria.dataValues.nameCategoria}}">
            
        <label for="sluh">Slug</label>
        <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control" value="{{categoria.dataValues.slugCategoria}}">
            
        <br>
    <button type="submit" class="btn btn-dark">Editar categoria</button>
    </form>
</div>
    
</div>